body {
  position: relative;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

.customize-tag {
  background-color: white;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3% 3% 4.5% 4.5%;
  font-size: 14px;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 7.5px;
}

h1 {
  color: #f5f5f5;
  font-size: 40px;
  font-family: Verdana, Geneva, sans-serif;
}

.title-bar {
  background-color: #24292e;
  padding: .005%;
  text-align: center;
  border-bottom: .5px solid #f5f5f5;
  -webkit-box-shadow: 0 0.5px 0 0 #000000;
   -moz-box-shadow: 0 0.5px 0 0 #000000;
        box-shadow: 0 0.5px 0 0 #000000;
}

#line {
  border-top: 1.5px solid #f5f5f5;
  padding-top: 1.5%;
}

.modal-button {
  background-color: #24292e;
  border: none;
  border-radius: 4px;
  color: #f5f5f5;
  padding: .6% .6% .7% .6%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

#modal {
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  color: #f5f5f5;
  position: absolute;
  text-align: center;
  width: 90%;
  overflow: auto;
  background-color: #24292e;
  margin: 3% 5% 3% 5%;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.35), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
}

#modal-header {
  color: #24292e;
  background-color: #f5f5f5;
  text-align: center;
  padding: 2.5%;
  margin: 2.5% auto;
  width: 90%;
}

#moday-body {
  color: #f5f5f5;
  text-align: center;
  margin: 3% auto;
  padding: 20px 20px 0 20px;
  border: 1px solid #888;
  width: 90%%; /* Could be more or less, depending on screen size */
}

#modal-footer {
  background-color: #24292e;
  color: #f5f5f5;
  text-align: center;
  margin: 3% auto;
  margin-right: 5% auto;
  margin-bottom: 5%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#close {
  color: black;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

#close:hover,
#close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
  display: none;
}
