body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

.customize-tag {
  background-color: white;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3% 3% 4.5% 4.5%;
  font-size: 14px;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 7.5px;
}

h1 {
  color: #f5f5f5;
  font-size: 40px;
  font-family: Verdana, Geneva, sans-serif;
}

.title-bar {
  background-color: #24292e;
  padding: .005%;
  text-align: center;
  border-bottom: .5px solid #f5f5f5;
  -webkit-box-shadow: 0 0.5px 0 0 #000000;
   -moz-box-shadow: 0 0.5px 0 0 #000000;
        box-shadow: 0 0.5px 0 0 #000000;
}

.math-unlock {
  display: none;
}

#line {
  border-top: 1.5px solid #f5f5f5;
  padding-top: 1.5%;
}

.modal-button {
  background-color: #24292e;
  border: none;
  border-radius: 4px;
  color: #f5f5f5;
  padding: .6% .6% .7% .6%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

#modal {
  display: block;
  color: #f5f5f5;
  position: relative;
  text-align: center;
  z-index: 1 !important;
  left: 0;
  rigth: 0;
  width: 75%;
  height: 75%;
  overflow: auto;
  background-color: #24292e;
}

#modal-header {
  background-color: #24292e;
  color: #f5f5f5;
  text-align: center;
}

#moday-body#modal-footer {
  background-color: #24292e;
  color: #f5f5f5;
  text-align: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#close {
  color: white;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

#close:hover,
#close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
